.navbar{
    justify-content: space-between; 
    background-color: #222;
    padding: 2em;
    font-size: large;
}

.list{
    display: flex;
    list-style: none;
    align-items:center;
    gap: 1.5rem;
}


.item a{
    color: white;
    text-decoration: none;
}

.item a:hover{
    color: rgb(255, 217, 0);
}