.newproject_conteiner{
    margin: 0 auto;
    padding: 3em;
}

.newproject_conteiner h1{
    margin-bottom: 0.5em;
    color:  #222;
    text-align: center;
    font-size: 2.5rem;
}

.newproject_conteiner {
    color: rgb(94, 94, 94);
}

.newproject_conteiner p{
    font-size: 1.5rem;
}

