.project_card {
    padding: 1em;
    border: 1px solid grey;
    border-radius: 5px;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 12px 12px 50px black;

}

.project_card h4 {
    background-color: rgb(25, 25, 25);
    color: rgb(255, 217, 0);
    padding: 0.4em;
    margin-bottom: 1.3em;
    font-size: 1.3em;
    border-radius: 5px;
    text-align: center;
}

.project_card p {
    color: rgb(70, 70, 70);
    margin-bottom: 1em;
}

.project_card p span {
    font-weight: bold;
}

.category_text {
    display: flex;
    align-items: center;
}

.category_text span {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: grey;
    margin-right: 5px;
}

.category_text .infra {
    background-color: rgb(255, 44, 44);

}

.category_text .desenvolvimento {
    background-color: rgb(54, 54, 255);
}

.category_text .desing {
    background-color: blueviolet;

}

.category_text .planejamento {
    background-color: rgb(21, 173, 21);
}

.project_card_action {
    margin-top: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project_card_action p {
    background-color: white;
    color: rgb(25, 25, 25);
    font-size: 0.9em;
    padding: 0.6em 1em;
    cursor: pointer;
    border: 1px solid rgb(25, 25, 25);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    border-radius: 5px;
}

.project_card_action svg {
    margin-right: 0.5em;
}

.project_card_action p:hover {
    background-color: rgb(25, 25, 25);
    color: rgb(255, 217, 0);
}