.Conteiner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 100%;
}

.start{
    justify-content: start;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}

.center{
    justify-content: center;
}

.grid{
    display: flex;
    justify-content: start;
    gap: 5rem;
    flex-wrap: wrap;
}