.form_control{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form_control label{
    margin-bottom: 0.5em;
    font-weight: bold;
    color: black;
    font-size: 1.3rem;

}

.form_control input{
    padding: 0.7em;
    border-radius: 0.5em;
    border: none;
    height: 3rem;
    color: rgb(39, 39, 39);
    font-size: 1rem;

}

.form_control input::placeholder{
    color: rgb(94, 94, 94);
}