* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Serif Text", serif;

}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(240, 240, 240);

}