.project_details{
    padding: 2em 5em;
    width: 100%;
    min-height: 70vh;
}

.project_details h1,
.project_details h2,
.project_details p{

    margin-bottom: 0.5em;

}

.project_details p,
.btn{

    font-size: large;
}

.details_container p{
    color: rgb(46, 46, 46);
}

.details_container h1{

    background-color: rgb(25, 25, 25);
    color: rgb(231, 196, 0);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
}

.details_container p{

    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: rgb(46, 46, 46);
}

.project_details span{

    font-weight: bold;
    margin-bottom: 1rem;
    color: black;


}

.project_details h2{
    font-size:x-large;
}

.details_container,
.services_form_container{

    border-bottom: 1px solid rgb(145, 143, 143);
    margin-bottom: 1.2em;
    padding-bottom: 1.2em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services_form_container h2,
.project_details h2{

    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.btn{
    background-color: #222;
    color: white;
    text-decoration: none;
    padding: 0.5rem 2rem;
    transition: 0.5s;
    border-radius: 1em;
    cursor: pointer;
    max-height: 60px;
    text-align: center;
}

.btn:hover{
    color: rgb(255, 217, 0);
}

.project_info{

    width: 100%;
    margin-top: 1rem;

}
